.Rproj.user
.Rhistory
.RData
.DS_Store
*.aux
*.bbl
*.blg
*.log
*.out
*.tex
*.nav
*.snm
*.toc
dev/*
data-raw/~*
framed.sty
data/polileader4*.rda
data/dcpo_output.rda
paper/*cache/
paper/dcpo_gender_roles_anon*
paper/pge_appendix_files/*
paper/ts*
paper/pge_cover*
paper/*title*
data/kfold/*fold*
data/kfold/*/*fold*
data/old/*
